body {
    background-color: #000000;
    font-family: 'Oxygen', sans-serif;
    margin:0;
    padding:0;
}

.image-container {
    height: 100%;
    padding-bottom: 10vh;
    width: 100%;
    position: relative;
    z-index: 0;
    background-image: url("../images/coding2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }
.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}
.timeline-container {
  padding: 2rem;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 690px;
}
.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 0;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: white;
  display:none;
}

.line:before, .line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom:0;
}

.section {
  display:flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display:block;
  height: 2rem;
  width: 2rem;
  z-index:3;
  border-radius: 50%;
  left: 50%;
  top: 20%;
  transform: translateX(-50%)
}
.content {
  width: calc(50% - 2rem);
}

.show-me:nth-child(n) {
  transform:none;
  opacity:1;
}
.responsive {
    color: whitesmoke;
    font-size: 1em;
}
.skresponsive {
    height: 110px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.2s;
}
.skresponsive:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
  }
.image-container h1 {
    color:whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 7vw;
 }
.image-container ul {
    margin:0;
    padding:0;
    text-align: center;
}
.image-container li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.image-container li a{
    display: inline-block;
    margin: 6px;
    list-style: none;
    color:white;
    font-size: 4vw;
    transition: all ease-in-out 250ms;
}

.image-container li a:hover{
    color: #99def0;
}

.project-title {
    padding-top: 5vh;
    color:#40d1f1;
    font-weight: bold;
    font-size: 1.5em;
}


.project-desc {
    text-align: center;
    margin: 0vh 25vw 0vh 25vw;
    font-size: 1em;
    color: #fff;
}

.job-title {
    color:#40d1f1;
    font-weight: bold;
    font-size: 2em;
}

.job-subtitle {
  color: #fff;
  font-size: 1.1em;
}

.job-desc {
    font-size: 1em;
    color: #fff;
}


.contact {
    color: #99def0;
}
.contact:hover {
    color: white;
    text-decoration: none;
    transition: all ease-in-out 150ms;

}
.card {
    border:none;
}
.container {
    width: 90%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));

}
.about {
    position:relative;
    padding-left: 0vw;
}
html {
    scroll-behavior: smooth;
}
.btn-outline-success {
    padding:0vh 0vw 0vh 0vw;
    margin-left: .5vw;
}


.blinking {
    margin-left: 36%;
    display:inline-block;
}
h1.display-6 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 10s steps(22) 1s 1 normal both,
               blink-caret .8s step-end infinite;
    animation-iteration-count: infinite;
    border-right: 4px solid #fff;
}

@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: #fff}

}

@keyframes typing {
    0% {width:0%}
    30%{width:100%}
    80%{width:100%}
    90%{width:0%}
    100%{width:0%}
}

h1.display-4 {
    font-size: 3vw;
}

h4 {
    font-size: larger;
}

@media screen and ( max-width: 1024px ) {
img.responsive { width: 200px;}
p.responsive { font-size: 13px; text-align: center;}
li.responsive{ font-size: 8px;}
h1.display-4 {font-size: 40px; text-align: center;}
h1.display-5 {font-size: 40px; text-align: center;}
.job-subtitle {font-size: 15px;}
.skresponsive {
    height: 80px;
    width: 80px;
    padding: 10px;
    z-index: 0;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    transition: 0.2s;
}
.skresponsive:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
  }
.image-container {
    min-height: 500px;
}
.pfp {
    height:70%;
    width:70%;
}
.icon_media {
    font-size:3em;
}
}
@media screen and ( min-width: 1025px) {
img.responsive { width: 250px;}
p.responsive { font-size: 20px;}
}
img.responsive { height: auto; }
